<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BgmRodotec.Framework.Database.Lib.Migrations" version="0.1.52" targetFramework="net461" />
  <package id="FluentMigrator" version="1.6.2" targetFramework="net461" />
  <package id="FluentMigrator.Runner" version="1.6.2" targetFramework="net461" />
  <package id="FluentMigrator.Tools" version="1.6.2" targetFramework="net461" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net461" />
  <package id="Npgsql" version="3.1.7" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net461" />
</packages>